@import "tailwindcss";

:root {
  /* Color Palette */
  --blue-500: #0000ff;
  --green-500: #008000;
  --dark-green: #006400;
  --white: #ffffff;
  --black: #000000;

  /* Functional Names (connecting to branding colours) */
  --link-color: var(--blue-500);
  --banner-bg: var(--green-500);
  --page-bg: var(--white);
  --text-color: var(--black);
}


html {
    scroll-behavior: smooth;
}

h2,
h3,
a,
p,
.inter {
    font-family: 'Inter', sans-serif;
}
.navlinks:hover {
    /* duration-200 [&:hover]:text-purple-700 cursor-pointer */
    cursor: pointer;
    transition-duration: 200ms;
    color: oklch(61.927% 0.20448 259.792);
}
.highlight {
    color: oklch(61.927% 0.20448 259.792);
}

h1,
.libreBaskerville {
    font-family: 'Libre Baskerville', 'sans-serif';
}

h2,
h3,
.inter {
    font-family: 'Inter', sans-serif;
}

span {
    font-family: inherit;
    font-weight: inherit;
}

.bgGrid {
    background-size: 40px 40px;
    background-image: linear-gradient(to right, black 1px, transparent 1px), linear-gradient(to bottom, black 1px, transparent 1px);
}

button,
.button {
    border-radius: 8px;
    border: 2px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 600;
    font-family: inherit;
    background-color: transparent;
    cursor: pointer;
    transition: background-color .2s;
}

button:hover {
    cursor: pointer;
    transition-duration: 200ms;
    color: oklch(61.927% 0.20448 259.792);
}

button:focus,
button:focus-visible {
    outline: 2px auto -webkit-focus-ring-color;
}

.specialBtn {
    border-color: oklch(61.927% 0.20448 259.792);
}

.specialBtnDark {
    color: oklch(61.927% 0.20448 259.792);
    border-color: oklch(61.927% 0.20448 259.792);
}

.specialBtn:hover {
    background-color: oklch(64.082% 0.18012 257.583 / 0.30);
    color: black;
    cursor: pointer;
    transition-duration: 200ms;
}
.specialBtnDark:hover {
    background-color: oklch(64.082% 0.18012 257.583 / 0.30);
    cursor: pointer;
    transition-duration: 200ms;
}