@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

a,
p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

h1,
h2,
h3,
.libreBaskerville {
    font-family: 'Libre Baskerville', 'sans-serif';
}

span {
    font-family: inherit;
    font-weight: inherit;
}

.bgGrid {
    background-size: 40px 40px;
    background-image: linear-gradient(to right, black 1px, transparent 1px), linear-gradient(to bottom, black 1px, transparent 1px);
}

button,
.button {
    border-radius: 8px;
    border: 2px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: white;
    cursor: pointer;
    transition: border-color .2s;
}

button:hover {
    border-color: oklch(0.438 0.218 303.724 / .8);
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.specialBtn {
    border-color: rgba(0, 0, 0, 0.619);
}

.specialBtnDark {
    border-color: oklch(0.438 0.218 303.724);
    color: white;
}

.specialBtn:hover {
    border-color: oklch(0.438 0.218 303.724);
    background-color: oklch(0.438 0.218 303.724 / .2);
}