@import "tailwindcss";


html {
    scroll-behavior: smooth;
}

h2,
h3,
a,
p,
.inter {
    font-family: 'Inter', sans-serif;
}

h1,
.libreBaskerville {
    font-family: 'Libre Baskerville', 'sans-serif';
}

h2,
h3,
.inter {
    font-family: 'Inter', sans-serif;
}

span {
    font-family: inherit;
    font-weight: inherit;
}

.bgGrid {
    background-size: 40px 40px;
    background-image: linear-gradient(to right, black 1px, transparent 1px), linear-gradient(to bottom, black 1px, transparent 1px);
}

button,
.button {
    border-radius: 8px;
    border: 2px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 600;
    font-family: inherit;
    background-color: transparent;
    cursor: pointer;
    transition: background-color .2s;
}

button:hover {
    color: oklch(0.496 0.265 301.924);
}

button:focus,
button:focus-visible {
    outline: 2px auto -webkit-focus-ring-color;
}

.specialBtn {
    border-color: oklch(0.496 0.265 301.924);
}

.specialBtnDark {
    border-color: oklch(0.496 0.265 301.924);
    color: white;
}

.specialBtn:hover {
    background-color: oklch(0.496 0.265 301.924 / .15);
    color: black;
}